@import 'tailwindcss';
@import 'github-markdown-css/github-markdown.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-sans: 'Inter', sans-serif;
}

:root {
  --primary-color: #ba4239;
  --secondary-color: #e7c13a;
}

@layer base {
  h1 {
    @apply text-4xl font-extrabold tracking-tight text-gray-900 sm:text-4xl md:text-6xl dark:text-gray-100;
  }
  h2 {
    @apply text-3xl font-bold text-justify text-gray-900 dark:text-gray-100;
  }
  h3 {
    @apply text-2xl font-semibold text-gray-900 dark:text-gray-100;
  }
  p {
    @apply text-sm text-gray-900 dark:text-gray-300 leading-relaxed;
  }
  span {
    @apply text-sm text-gray-900 dark:text-gray-300 leading-relaxed;
  }
  ul {
    @apply divide-y divide-gray-200 dark:divide-gray-700;
  }
  li {
    @apply text-base text-gray-900 dark:text-gray-300;
  }
  button {
    @apply cursor-pointer;
  }

  .markdown-body ul,
  .markdown-body ol,
  .markdown-body li {
    border: none !important;
    @apply text-sm text-gray-900 dark:text-gray-300 leading-relaxed;
  }

  .markdown-body img,
  .markdown-css img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .markdown-body ol {
    list-style: decimal;
    margin-left: 0.25rem;
  }
  .markdown-body ol ol {
    list-style: lower-alpha;
  }
  .markdown-body ol ol ol {
    list-style: lower-roman;
  }

  .markdown-body ul {
    list-style: disc;
    margin-left: 0.25rem;
  }
  .markdown-body ul ul {
    list-style: circle;
  }
  .markdown-body ul ul ul {
    list-style: square;
  }
}

@layer components {
  .bg-main {
    @apply bg-white dark:bg-gray-950;
  }

  .bg-gray {
    @apply bg-gray-200 dark:bg-gray-700;
  }

  .hover-bg-gray {
    @apply cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700;
  }

  .border-gray {
    @apply border-b border-gray-200 dark:border-gray-700;
  }
}
